
.food-item{
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 10px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;

}
.item-img-container{
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.food-item-info{
  padding: 20px;

}
.food-item-name-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-name-rating p{
  font-size: 20px;
  font-weight: 500;
}
.food-item-name-rating img{
  width: 40%;
}
.food-item-img-container img{
  width: 95%;
}
.add{
  background-color: orange;
  border: 1px double orange;
}
.food-item-desc{
  color: #676767;
  font-size: 15px;
  text-align: center;
}
.food-item-price{
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin: 10px 0px;
}
.food-item-img-container{
  position: relative;
  
}
 .food-item-img-container .add{
  width: 35px;
 
   border-radius: 50%;
   position: absolute;
   bottom: 15px;
   right: 15px;
   cursor: pointer;
}
.food-item-counter{
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
  color: beige;
  
}
.food-item-counter img{
  width: 30px;
}
.number{
 color: black;
 font-size: 20px;
  
}